* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
.invite {
  float: right;
}

form div {
  margin: 1em;
  display: inline-block;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  color: rgb(252, 254, 255);
  background-color: rgb(23, 23, 96);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 12px;
}

.modalContainer {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  color: rgb(39, 36, 36);
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}


.cardModalBackground {
  width: 100vw;
  height: 100vh;
  /* position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; */
  background-color: black;
}

.cardModalContainer {
  width: 250px;
  height: 200px;
  position: absolute;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.cardModalContainer .title {
  color: rgb(39, 36, 36);
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  color: rgb(39, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.workspace-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.inviteBtn {
  height: 20px;
}
